@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin container {
    /*max-width: 120rem;
    with: 95%; OJO ALGO NUEVO, EQUIVALENTE A LO DE ABAJO*/
    width: min(95%, 140rem);
    margin: 0 auto;
}

@mixin container-md { 
    width: min(95%, 80rem);
    margin: 0 auto;
}

@mixin container-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$principal_font;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin page-name {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}
@mixin page-description { 
    text-align: center;
    font-size: 1.8rem;
    font-weight: v.$thin;
    color: v.$dark-grey;
    margin-bottom: 5rem;
}

@mixin flowing-text($min, $max) { 
    font-size: clamp($min, -0.8rem + 10vw ,$max); 
}

@mixin gradient-text($initial, $final) { 
    background: linear-gradient(to right, $initial, $final);
    -webkit-background-clip: text;
    color: transparent; 
}

@mixin logo { 
    color: v.$white;
    text-align: center;
    margin-bottom: 2rem;
    //font-size: 10rem;
    white-space: nowrap; 
    @include desktop {
        text-align: left;
        margin: 0;
    }
}

@mixin social-networks($color, $size) { 
    &__link {
        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }

        &[id*="facebook"]::before { 
            content: "\f082";
        }

        &[id*="github"]::before {
            content: "\f09b";
        }
        
        &[id*="tiktok"]::before {
            content: "\e07b";
        }
        &[id*="instagram"]::before {
            content: "\f16d";
        }
        &[id*="youtube"]::before {
            content: "\f167";
        }
        &[id*="twitter"]::before {
            content: "\f099";
        }
    }

    &__hide {
        display: none;
    }
}

@mixin link {
    all: unset;
    color: v.$white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    /*background-color: transparent; (unset)
    border: none;*/
    &:hover {
        color: v.$blue;
        cursor: pointer;
    }
}

@mixin shadow { 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    > li {
        background-color: v.$blue;
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1.4rem;
        font-weight: v.$bold;
        color: v.$white;
    }
}

@mixin card { 
    border: 1px solid lighten(v.$grey, 10);
    padding: 3rem;

    &__name {
        font-weight: v.$black;
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}

@mixin bg-gradient($bg_color) {
    background-image: linear-gradient(to left top, $bg_color, lighten($bg_color, 15%));
}