// fonts
$principal_font: 'Outfit', sans-serif;

// size Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colors
$blue: #007df4;
$secondary: #00c8c2;

$black: #1a1b15;
$white: #FFFFFF;
$grey: #64748B;
$light-grey: #F8FAFC;
$dark-grey: #1E293B;

$red: rgb(169, 0, 0);
$green: #02db02;

// Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$Lblack: 900